.container{
	height: 700px;
	width: 700px;
	border-radius: 350px;
	position: relative;
	background-color: black;
}
.game-button{
	height: 275px;
	width: 275px;
	position: absolute;
	opacity: .75;
}
#green{
	border-top-left-radius: 275px;
	background-color: #0CB51A;	
	left: 50px;
	top: 50px;
}
#red{
	border-top-right-radius: 275px;
	background-color: #FD3C2A;
	left: 300px;
	left: 375px;
	top: 50px;
}
#blue{
	border-bottom-left-radius: 275px;
	background-color: #00A7F0;
	top: 375px;
	left: 50px;
	
}
#yellow{
	border-bottom-right-radius: 275px;
	background-color: #FFFF01;
	top: 375px;
	left: 375px;
}